<main>
  <section class="h-screen flex flex-col justify-center gap-2 mx-auto max-w-7xl px-6 text-5xl text-gray-700 dark:text-white">
    <p>{{ 'My name is' | translate }} <span class="text-6xl text-primary-600 dark:text-rose-400">{{ 'Balázs Barkóczy' | translate }}.</span></p>
    <p class="mt-10">{{ 'Frontend developer' | translate }}.</p>
  </section>
  <app-info-section id="about" [isBlue]="true"></app-info-section>
  <app-info-section id="tech" [isBlue]="false"></app-info-section>
  <app-info-section id="projects" [isBlue]="true"></app-info-section>
</main>